@import url('./main-layout.css');
@import url('./views/welcome-view.css');
@import url('./views/memory-gallery-view.css');    html {
      --lumo-shade: hsl(214, 100%, 99%);
      --lumo-shade-5pct: hsla(214, 100%, 99%, 0.05);
      --lumo-shade-10pct: hsla(214, 100%, 99%, 0.1);
      --lumo-shade-20pct: hsla(214, 100%, 99%, 0.2);
      --lumo-shade-30pct: hsla(214, 100%, 99%, 0.3);
      --lumo-shade-40pct: hsla(214, 100%, 99%, 0.4);
      --lumo-shade-50pct: hsla(214, 100%, 99%, 0.5);
      --lumo-shade-60pct: hsla(214, 100%, 99%, 0.6);
      --lumo-shade-70pct: hsla(214, 100%, 99%, 0.7);
      --lumo-shade-80pct: hsla(214, 100%, 99%, 0.8);
      --lumo-shade-90pct: hsla(214, 100%, 99%, 0.9);
      --lumo-primary-color: hsl(214, 0%, 0%);
      --lumo-primary-color-50pct: hsla(214, 0%, 0%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 0%, 0%, 0.1);
      --lumo-base-color: #4b4e95;
      --lumo-primary-text-color: hsl(284, 91%, 57%);
      --lumo-body-text-color: hsla(214, 26%, 10%, 0.94);
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);

    }
